/*  =========================================================================
    base.links
    ========================================================================= */

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--gray-a);
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: var(--brand);
}

a:hover,
a:focus,
a:active {
  color: var(--brand);
}



.link-heading {
  color: var(--gray-a);
  text-shadow: none;
  box-shadow: none;
}

.link-humble {
  font-weight: normal;
}
