/*  =========================================================================
    base.toplevel
    ========================================================================= */

body {
  margin: 0;
}

.o-main {
  position: relative;
}

.o-main__content {
  width: 100%;
}
