/*  =========================================================================
    base.typography
    ========================================================================= */

/*  Variables
    ========================================================================= */

:root {
  --heading--highlight-color: var(--color--paradise-pink);
}



/*  Toplevel font size
    ========================================================================= */

html {
  background-color: var(--color--prussian-blue);
}

@media screen and (min-width: 20em) {
  html {
    font-size: calc(((var(--supple-base-font-size) / 16) * 1em) + (1.75 - (var(--supple-base-font-size) / 16)) * (100vw - 20em) / (80 - 20));
  }
}


@media screen and (min-width: 80em) {
  html {
    font-size: 1.75em;
  }
}

body {
  background-color: var(--color--paradise-pink);
}



/*  Headings
    ========================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--supple-space-small);
}


/**
 * Heading 1
 * CSS Lock
 */
h1 {
  font-size: 2em;
  margin-bottom: var(--supple-space);
}

@media screen and (min-width: 20em) {
  h1 {
    font-size: calc(2em + 3 * ((100vw - 20em) / (80 - 20)));
  }
}

@media screen and (min-width: 80em) {
  h1 {
    font-size: 3em;
  }
}


.heading--humble {
  font-weight: normal;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.heading--highlight,
.o-content h1,
.o-content h2,
.o-content h3,
.o-content h4,
.o-content h5,
.o-content h6 {
  position: relative;
  margin-bottom: var(--supple-space);
}

.heading--highlight:after,
.o-content h1:after,
.o-content h2:after,
.o-content h3:after,
.o-content h4:after,
.o-content h5:after,
.o-content h6:after {
  position: absolute;
  top: calc(100% + 0.25em);
  left: 0;
  width: calc(var(--supple-space) * 1.5);
  height: 0.125em;
  background-color: var(--heading--highlight-color);
  content: "";
}

.heading--highlight > a,
.o-content h1 > a,
.o-content h2 > a,
.o-content h3 > a,
.o-content h4 > a,
.o-content h5 > a,
.o-content h6 > a {
  text-decoration: none;
}



/*  Misc
    ========================================================================= */

code {
  display: inline-block;
  padding-left: var(--supple-space-tiny);
  padding-right: var(--supple-space-tiny);
  background-color: var(--color--gray-b);
  font-size: 0.875em;
}

pre {
  padding: var(--supple-space-small);
  background-color: var(--color--gray-b);
  overflow: auto;
  font-size: 0.75em;
}

blockquote {
  margin-left: var(--supple-space);
  padding: var(--supple-space-small) var(--supple-space);
  text-indent: 0;
  font-style: italic;
  border-left: 6px solid var(--color--gray-b);
}

blockquote *:last-child {
  margin-bottom: 0;
}
