/*  =========================================================================
    base.typography
    ========================================================================= */

/*  Toplevel font size
    ========================================================================= */

html {
  font-family: var(--family-body);
  background-color: var(--color--prussian-blue);
  color: var(--color--dark-gunmetal);
}

@media screen and (min-width: 20em) {
  html {
    font-size: calc(((var(--supple-base-font-size) / 16) * 1em) + (1.75 - (var(--supple-base-font-size) / 16)) * (100vw - 20em) / (80 - 20));
  }
}


@media screen and (min-width: 80em) {
  html {
    font-size: 1.75em;
  }
}

body {
  background-color: var(--color--paradise-pink);
}



/*  Headings
    ========================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--supple-space-small);
  font-family: var(--family-leader);
  line-height: 1.1;
}


/**
 * Heading 1
 * CSS Lock
 */
h1 {
  font-size: 2em;
  margin-bottom: var(--supple-space);
}

@media screen and (min-width: 20em) {
  h1 {
    font-size: calc(2em + 3 * ((100vw - 20em) / (80 - 20)));
  }
}

@media screen and (min-width: 80em) {
  h1 {
    font-size: 3em;
  }
}



/*  Misc
    ========================================================================= */

code {
  display: inline-block;
  padding-left: var(--supple-space-tiny);
  padding-right: var(--supple-space-tiny);
  background-color: var(--color--gray-b);
  font-size: 0.875em;
  /* color: var(--brand); */
}

pre {
  padding: var(--supple-space-small);
  background-color: var(--color--gray-b);
  overflow: auto;
  font-size: 0.75em;
}

blockquote {
  margin-left: var(--supple-space);
  padding: var(--supple-space-small) var(--supple-space);
  text-indent: 0;
  font-style: italic;
  border-left: 6px solid var(--color--gray-b);
}

blockquote *:last-child {
  margin-bottom: 0;
}
