/*  =========================================================================
    objects.content
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/@supple-kit/supple-css/tools/space';
@use '../../../node_modules/@supple-kit/supple-css/tools/responsive';



/*  Module
    ========================================================================= */

.o-content {
  img {
    width: 100%;
    height: auto;
  }

  img,
  picture,
  figure {
    &:first-child {
      margin-top: -(space.get('base'));

      @include responsive.mq(lap) {
        margin-top: -(space.get('large'));
      }
    }
  }

  pre {
    grid-column: retained;
  }
}
