/*  =========================================================================
    objects.grid
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/@supple-kit/supple-css/tools/space';
@use '../../../node_modules/@supple-kit/supple-css/tools/responsive';



/*  Module
    ========================================================================= */

.o-grid {
  --main-size: 30em;
  display: grid;
  grid-template-columns:
    [full-start] minmax(#{space.get('base')}, 2fr)
    [retained-start] minmax(0, 1fr)
    [main-start] minmax(0, var(--main-size)) [main-end]
    minmax(0, 1fr) [retained-end]
    minmax(#{space.get('base')}, 2fr) [full-end];

  > * {
    grid-column: main;
  }
}

.o-grid--inner {
  --inner-space: #{space.get('base')};
  grid-column: full;
  grid-template-columns:
    [retained-start] minmax(var(--inner-space), 1fr)
    [main-start] minmax(0, var(--main-size)) [main-end]
    minmax(var(--inner-space), 1fr) [retained-end];

  @include responsive.mq(lap) {
    grid-column: retained;
  }
}

.o-grid__retained {
  grid-column: retained;
}

.o-grid__full {
  grid-column: full;
}
