/*  =========================================================================
    objects.layer
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/@supple-kit/supple-css/tools/responsive';
@use '../../../node_modules/@supple-kit/supple-css/tools/space';



/*  Module
    ========================================================================= */

.o-layer {
  padding-block-start: space.get('base');
  padding-block-end: space.get('base');

  @include responsive.mq(lap) {
    padding-block-start: space.get('large');
    padding-block-end: space.get('large');
  }

  &:first-child:not(.o-layer--bg) {
    padding-block-start: 0;

    @include responsive.mq(lap) {
      padding-block-start: space.get('large');
    }
  }
}

.o-layer--flow-root {
  display: flow-root;
}

.o-layer--bg {
  &:last-child {
    padding-block-end: space.get('base');
  }

  @include responsive.mq(lap) {
    & + & {
      margin-block-start: space.get('large');
    }

    &:last-child {
      margin-block-end: space.get('large');
    }
  }
}
