/*  =========================================================================
    components.button
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/@supple-kit/supple-css/tools/mixins';
@use '../../../node_modules/@supple-kit/supple-css/tools/functions';
@use '../../../node_modules/@supple-kit/supple-css/settings/defaults';
@use '../settings/vars';



/*  Module
    ========================================================================= */

.c-button {
  display: inline-block;
  @include mixins.rem(padding-block-start, defaults.$space-tiny);
  @include mixins.rem(padding-block-end, defaults.$space-tiny);
  @include mixins.rem(padding-inline-start, defaults.$space-small);
  @include mixins.rem(padding-inline-end, defaults.$space-small);
  background-color: var(--color-action-bg);
  color: var(--color-action-text);
  font-family: #{vars.$family-leader};
  text-decoration: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus,
  &:hover {
    color: var(--color-action-text-active);
    background-color: var(--color-action-bg-active);
  }
}


/**
 * modifier: inline
 */
.c-button--inline {
  font-family: #{vars.$family-body};
  padding-block-start: 0;
  padding-block-end: 0;
  @include mixins.rem(padding-inline-start, defaults.$space-tiny);
  @include mixins.rem(padding-inline-end, defaults.$space-tiny);
}


