/*  =========================================================================
    components.hero
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/supple/lib/tools/functions';
@use '../../../node_modules/supple/lib/tools/mixins';
@use '../../../node_modules/supple/lib/settings/defaults';
@use '../settings/vars';



/*  Module
    ========================================================================= */

.c-hero {
  display: flex;
  text-align: center;

  @include mixins.mq(palm) {
    text-align: start;
    min-height: calc(60vh - #{functions.value-to-rem(15 * defaults.$baseline)});
  }
}

.c-hero__title {
  text-transform: uppercase;
}

.c-hero__hi {
  display: block;
  text-transform: none;
}

.c-hero__wrap-image {
  margin-inline-start: auto;
  margin-inline-end: auto;
  @include mixins.rem(inline-size, defaults.$baseline * 14);
}

.c-hero__image {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--color-brand-primary);
}
