/*  =========================================================================
    components.masthead
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/@supple-kit/supple-css/tools/space';
@use '../../../node_modules/@supple-kit/supple-css/tools/responsive';



/*  Module
    ========================================================================= */

.c-masthead {
  padding-block-start: space.get('small');
  padding-block-end: space.get('base');

  @include responsive.mq(lap) {
    padding-block-start: space.get('base');
  }
}
