/*  =========================================================================
    components.nav
    desc
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/@supple-kit/supple-css/tools/responsive';
@use '../../../node_modules/@supple-kit/supple-css/tools/space';



/*  Module
    ========================================================================= */

.c-nav {
  //
}

.c-nav__list {
  --layout-block-gap: 0;

  @include responsive.mq(lap) {
    justify-content: flex-end;
  }
}

.c-nav__link {
  &.is-active {
    color: var(--color-brand-primary);
  }
}
