/*  =========================================================================
    components.trusted
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/supple/lib/tools/mixins';
@use '../../../node_modules/supple/lib/settings/defaults';



/*  Module
    ========================================================================= */

.c-trusted {
  //
}

.c-trusted__wrap-logo {
  display: block;
  @include mixins.rem(block-size, defaults.$space-base);
  @include mixins.rem(margin-block-end, defaults.$space-base);
  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.c-trusted__wrap-logo svg {
  height: 100%;
  width: auto;
}
