---
herotitle: "How I improved my workflow with SMACSS & Sass"
herosubtitle: "Preprocessing & Component based design principles"
herohasbuttons: 0
defbackground: "background--jarvis"

subpostnext: "finger-friendly-all-the-things.html"
---
{{> hero }}

<div id="post" class="layer  layer--large  layer--lightest  js--page-section">
    <div class="retain  retain--small">

        <p>Lorem ipsum dolor</p>

        {{>subpost}}
    </div><!-- .site-retain -->
</div><!-- layer -->