---
herotitle: "Hi, my name is Bram Smulders"
herosubtitle: "I'M A UX-DEVELOPER, FRONT-END ARCHITECT, WRITER AND I CREATE AWESOME STUFF FOR THE WEB."
herohasbuttons: 1
defbackground: "background--rain"
---
{{> hero }}

<section id="about" class="layer  layer--large  layer--lightest  text--center  js--page-section">
    <header class="header  sign">
        <h1 class="header__head  kilo">About me</h1>
        <h2 class="header__sub-head  beta  color--light  flatten">UX and front-end architecture enthousiast</h2>
    </header>
    <hr class="rule  rule--tiny">
    <div class="retain">
        <div class="grid  grid--wide  grid--rev">
            <div class="grid__cell  unit-1-1  unit-8-12--gt-palm">
                <p>Howdy, my name is Bram Smulders and I am a UX-developer, front-end architect & writer from Tilburg, The Netherlands. With the greatest pleasure I put tons of my time and energy into my work. Currently I am <a href="#work" class="js-scroll" title="I am available for work">available</a> for work on interesting projects or agency work.</p>
                <p>I specialise in coding scalable CSS and Javascript for large apps and websites, with a strong focus on performance, OOCSS and powerful and speedy development. As a member of the <a href="http://www.fronteers.nl" rel="external" title="Fronteers labor union">Fronteers labor union</a> I am always on top of the rapid changes within the internet world.</p>
                <p>Want to know more? You are lucky; I share a lot of my thoughts & my daily lunch on <a href="http://twitter.com/bramsmulders" rel="external" title="follow me on Twitter">twitter</a>.</p>
            </div>
            <div class="grid__cell unit-1-1  unit-4-12--gt-palm">
                <p class="sign">
                    <a href="mailto:bram@bramsmulders.com" class="button  button--brand  button--large  button--full" title="Contact me!">Get in touch!</a>
                </p>
                <div class="nav--social  nav--social--dark  text--center  sign--triple">
                    {{> navsocial  }}
                </div>
            </div>
        </div>
    </div><!-- .site-retain -->
</section><!-- layer -->

<section id="blog" class="layer  layer--large  color--white  text--center  js--page-section">
    <div class="background  background--absolute  background--writer"></div>
    <div class="background__overlay">
        <header class="header  sign">
            <h1 class="header__head  kilo">Blog</h1>
            <h2 class="header__sub-head  beta  color--white  flatten">Well yes, I also write</h2>
        </header>
        <hr class="rule  rule--tiny  rule--white">
        <div class="retain  retain--small  text--left">
            <div class="grid  grid--center">

                <div class="grid__cell  unit-6-12  unit-4-12--desk">
                    <article class="jetpack  js--slide-in">
                        <div class="jetpack__overlay">
                            <div class="jetpack__center">
                                <div class="hgroup  flatten">
                                    <h1 class="jetpack__title  gamma  hN">Finger friendly ALL the things</h1>
                                </div>
                            </div><!-- .jetpack__center -->
                        </div><!-- .jetpack__overlay -->
                        <img src="images/theme/post/finger-friendly.jpg" alt="Thumbnail Finger friendly ALL the things" class="jetpack__platform">
                        <a href="finger-friendly-all-the-things.html" class="jetpack__link" title="Finger friendly ALL the things">Finger friendly ALL the things</a>
                    </article><!-- .jetpack -->
                </div><!-- .grid__cell -->

                <div class="grid__cell  unit-6-12  unit-4-12--desk">
                    <article class="jetpack  js--slide-in">
                        <div class="jetpack__overlay">
                            <div class="jetpack__center">
                                <div class="hgroup  flatten">
                                    <h1 class="jetpack__title  gamma  hN">How I improved my workflow with SMACSS & Sass</h1>
                                </div>
                            </div><!-- .jetpack__center -->
                        </div><!-- .jetpack__overlay -->
                        <img src="images/theme/post/workflow.jpg" alt="Thumbnail How I improved my workflow with SMACSS & Sass" class="jetpack__platform">
                        <a href="how-i-improved-my-workflow-with-smacss-sass.html" class="jetpack__link" title="How I improved my workflow with SMACSS & Sass">How I improved my workflow with SMACSS & Sass</a>
                    </article><!-- .jetpack -->
                </div><!-- .grid__cell -->

            </div><!-- .grid -->
        </div><!-- .retain -->
    </div>
</section><!-- layer -->

<section id="work" class="layer  layer--large  layer--brand  color--white  text--center  js--page-section">
    <header class="header  sign">
        <h1 class="header__head  kilo">I am available!</h1>
        <h2 class="header__sub-head  beta  color--white  flatten">I work best with enthusiastic teams on great projects</h2>
    </header>
    <hr class="rule  rule--tiny  rule--white">
    <div class="retain">
        <div class="grid  grid--wide">
            <div class="grid__cell  unit-1-1  unit-6-12--gt-palm">
                <h3 class="flatten">Agency</h3>
                <p>If you have a job opening in wich you search for a spontaneous, responsible, work driven UX-developer and front-end architect, I am your man! I work best in enthusiastic, agile teams on great projects.</p>
            </div><!-- .grid__cell -->
            <div class="grid__cell  unit-1-1  unit-6-12--gt-palm">
                <h3 class="flatten">Freelance</h3>
                <p>Do you have a stunning project but you need a extra hand? I am your man! I can work on location and collaborate on your workfloor. <br>When needed I can also work from my home office.</p>
            </div><!-- .grid__cell -->
        </div><!-- .grid -->
        <a href="mailto:bram@bramsmulders.com" class="button  button--white  button--large" title="Contact me!">Get in touch!</a>
    </div><!-- .site-retain -->
</section><!-- layer -->

<section id="portfolio" class="layer  layer--large  layer--lightest  text--center  js--page-section">
    <header class="header  sign">
        <h1 class="header__head  kilo">Portfolio</h1>
        <h2 class="header__sub-head  beta  color--light  flatten">A grasp of stuff that I have made</h2>
    </header>
    <hr class="rule  rule--tiny">
    <div class="retain">
        <div class="grid  grid--center">

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Blocss</h1>
                                <h2 class="jetpack__subtitle  milli  hN">CSS framework</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/blocss.png" alt="Screenshot Blocss" class="jetpack__platform">
                    <a href="http://blocss.github.io/blocss" class="jetpack__link" rel="external" title="Blocss CSS framework">Blocss CSS framework</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">KNVB Talent Team</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/scoorjestage.png" alt="Screenshot KNVB talent team" class="jetpack__platform">
                    <a href="http://www.knvbtalentteam.nl" class="jetpack__link" rel="external" title="KNVB Talent Team">KNVB Talent Team</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Beautyspot</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/beautyspot.png" alt="Screenshot Beautyspot" class="jetpack__platform">
                    <a href="http://www.beautyspot.nl" class="jetpack__link" rel="external" title="Beautyspot">Beautyspot</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">klantOK</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/klantok.png" alt="Screenshot klantOK" class="jetpack__platform">
                    <a href="http://klantok.nl" class="jetpack__link" rel="external" title="klantOK">KlantOK</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Emerce eDay</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/eday.png" alt="Screenshot Emerce eDay" class="jetpack__platform">
                    <a href="http://www.emerceeday.nl" class="jetpack__link" rel="external" title="Emerce eDay">Emerce eDay</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Skid么me</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/skidome.png" alt="Screenshot Skid么me" class="jetpack__platform">
                    <a href="http://skidome.nl" class="jetpack__link" rel="external" title="Skid么me">Skid么me</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Freshheads</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/freshheads.png" alt="Screenshot Freshheads" class="jetpack__platform">
                    <a href="http://www.freshheads.com" class="jetpack__link" rel="external" title="Freshheads">Freshheads</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">QForma</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: QForma</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/qforma.png" alt="Screenshot QForma" class="jetpack__platform">
                    <a href="http://qforma.nl" class="jetpack__link" rel="external" title="QForma">QForma</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Andere Koek advertising</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: QForma</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/anderekoek.png" alt="Screenshot Andere Koek advertising" class="jetpack__platform">
                    <a href="http://www.anderekoekadvertising.nl" class="jetpack__link" rel="external" title="Andere koek advertising">Andere koek advertising</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Zinnen op Linnen</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: QForma</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/zinnenoplinnen.png" alt="Screenshot Zinnen op linnen" class="jetpack__platform">
                    <a href="http://www.zinnenoptafellinnen.nl/" class="jetpack__link" rel="external" title="Zinnen op Linnen">Zinnen op Linnen</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Wonen in het land van</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: QForma</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/woneninhetlandvan.png" alt="Screenshot Wonen in het land van" class="jetpack__platform">
                    <a href="http://woneninhetlandvan.nl/" class="jetpack__link" rel="external" title="Wonen in het land van">Wonen in het land van</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">NoRobot</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Fashion webshop</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <img src="images/theme/cases/norobot.png" alt="Screenshot NoRobot" class="jetpack__platform">
                    <a href="http://norobot.nl/" class="jetpack__link" rel="external" title="NoRobot">NoRobot</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

        </div><!-- .grid -->
        <a href="mailto:bram@bramsmulders.com" class="button  button--brand  button--large" title="Contact me!">Get in touch!</a>
    </div><!-- .site-retain -->
</section><!-- layer -->
