<header class="[ c-hero ]  [ o-layout  o-layout--align-block-center ]  [ o-layer ]">
  <div class="[ o-layout__cell ]  [ u-module ]  [ u-margin-block-end-base ]">
    <h1 class="c-hero__title  u-margin-block-end-none"><span class="[ c-hero__hi ]  [ u-delta ]">Hello,</span>I'm <span class="t-highlight">Bram Smulders</span></h1>
    <p>Front-end <span class="t-highlight">UI</span> engineer</p>
  </div>
</header>
