<div class="[ c-hero ]  [ o-layout  o-layout--align-block-center ]">
  <div class="o-layout__cell">
    <h1 class="c-hero__title"><span class="c-hero__hi">Hello,</span>I'm <span class="t-highlight">Bram Smulders</span></h1>
    <p>Front-end <span class="t-highlight">UI</span> developer</p>
  </div>
</div>
