{% set introHeadingLevelInternal = introHeadingLevel|default("1", true) %}

<header class="[ c-intro ]  [ o-grid  o-grid--inner ]  [ t-bg-slate ]">
  <h{{ introHeadingLevelInternal }}>{{ introHeading }}</h{{ introHeadingLevelInternal }}>
  {% if introSummary %}
    <div class="u-module">{{ introSummary | safe }}</div>
  {% endif %}
</header>
