{% if navigation.items %}
  <nav class="c-nav" aria-label="{{ariaLabel}}">
    <ul class="c-nav__list  |  o-layout  o-layout--gap-base">
      {% for item in navigation.items %}
        {% set relAttribute = '' %}
        {% set currentAttribute = '' %}
        {% set activeClass = '' %}

        {% if item.rel %}
          {% set relAttribute = ' rel="' + item.rel + '"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        {% if part in item.url %}
          {% set activeClass = ' is-active"' %}
        {% endif %}

        <li class="c-nav__item  |  o-layout__fit">
          <a class="c-nav__link{{ activeClass | safe }}" href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
