{% if postListItems.length %}
  <section class="[ o-layer ]">
    <h2 class="[c-heading  c-heading--highlight ] [ h3 ]">{{ postListHeading }}</h2>
    <p>Although I am not writing much anymore I do not want to withhold you some of my written articles:</p>
    <ol class="o-list-clean" reversed>
      {% for item in postListItems %}
        {% if item.date.getTime() <= global.now %}
          <li>
            <h3 class="h6">
              <a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
            </h3>
            <p>
              <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </p>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </section>
{% endif %}
