<section class="c-trusted  |  o-grid  o-grid--inner  |  o-flow  o-flow--small  |  o-layer  o-layer--bg  |  t-trade-bg">
  <h2 class="c-heading  c-heading--humble  |  u-eta">Trusted by</h2>
  <div>
    <ul class="c-trusted__list  |  o-layout  o-layout--gap-large  o-layout--align-inline-center  |  u-margin-block-end-none">
      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.philips-hue.com">
          <svg viewBox="0 0 652 159">
            <use href="svg/sprite.svg#signify"></use>
          </svg>
          <span class="u-visually-hidden">Signify / Philips Hue</span>
        </a>
      </li>
      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.eneco.nl">
          <svg viewBox="0 0 235 61">
            <use href="svg/sprite.svg#eneco"></use>
          </svg>
          <span class="u-visually-hidden">Eneco</span>
        </a>
      </li>
      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.dunea.nl">
          <svg viewBox="0 0 180 48">
            <use href="svg/sprite.svg#dunea"></use>
          </svg>
          <span class="u-visually-hidden">Dunea</span>
        </a>
      </li>
      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="http://knvb.nl">
          <svg viewBox="0 0 38 50">
            <use href="svg/sprite.svg#knvb"></use>
          </svg>
          <span class="u-visually-hidden">KNVB</span>
        </a>
      </li>
      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="http://www.quinny.nl/">
          <svg viewBox="0 0 1534 357">
            <use href="svg/sprite.svg#quinny"></use>
          </svg>
          <span class="u-visually-hidden">Quinny</span>
        </a>
      </li>
      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.adecco.nl/">
          <svg viewBox="0 0 283 70">
            <use href="svg/sprite.svg#adecco"></use>
          </svg>
          <span class="u-visually-hidden">Adecco</span>
        </a>
      </li>
      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.emerce.nl/">
          <svg viewBox="0 0 188 45">
            <use href="svg/sprite.svg#emerce"></use>
          </svg>
          <span class="u-visually-hidden">Emerce</span>
        </a>
      </li>

      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.stedin.net/">
          <svg viewBox="0 0 612.2 112.5">
            <use href="svg/sprite.svg#stedin"></use>
          </svg>
          <span class="u-visually-hidden">Stedin</span>
        </a>
      </li>

      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.goudse.nl/">
          <svg viewBox="0 0 368 180">
            <use href="svg/sprite.svg#goudse"></use>
          </svg>
          <span class="u-visually-hidden">Goudse</span>
        </a>
      </li>

      <li class="o-layout__fit">
        <a class="c-trusted__wrap-logo" href="https://www.enexis.nl/">
          <svg viewBox="0 0 852 351">
            <use href="svg/sprite.svg#enexis"></use>
          </svg>
          <span class="u-visually-hidden">Stedin</span>
        </a>
      </li>

    </ul>
  </div>
</section>
