<ul class="c-recent  |  o-mesh  o-mesh--gap-base">

  <li class="c-recent__item  |  o-mesh__cell  |  o-island  |  t-trade-bg  |  o-flow">
    <h2 class="u-delta"><a href="https://github.com/supple-kit/supple-css">Supple CSS</a></h2>
    <p>Supple CSS is a reliable and testable Sass framework in its truest sense. It's based on the ITCSS methodology and is suited very well for component-based UI development.</p>
    <p>
    <strong>Tools:</strong><br>
    Sass, OOCSS, ITCSS, CSS</p>
    <p>
    <strong>Client:</strong><br>
    Personal</p>
  </li>

  <li class="c-recent__item  |  o-island  |  t-trade-bg  |  o-flow">
    <h2 class="u-delta"><a href="https://www.leegstandhulp.nl">Leegstandhulp.nl</a></h2>
    <p>For Eneco’s leegstandhulp I’ve created a web application based on <a href="https://www.gatsbyjs.org/">Gatsby.js</a> where users can easily register vacant properties.</p>
    <p>
    <strong>Tools:</strong><br>
    React, Gatsby, API, HTML, CSS, Webpack</p>
    <p>
    <strong>Client:</strong><br>
    Eneco / E-sites</p>
  </li>

  <li class="c-recent__item  |  o-mesh__cell  |  o-island  |  t-trade-bg  |  o-flow">
    <h2 class="u-delta"><a href="https://www.betabit.nl">Betabit.nl</a></h2>
    <p>I did Front-end work for Betabit. With CSS Grid Layout, Intersection observer & other techniques I’ve created an accessible, vibrant, future-proof new platform.</p>
    <p>
    <strong>Tools:</strong><br>
    HTML, CSS, JavaScript, Pattern-Lab</p>
    <p>
    <strong>Client:</strong><br>
    Betabit / we are you</p>
  </li>

  <li class="c-recent__item  |  o-mesh__cell  |  o-island  |  t-trade-bg  |  o-flow">
    <h2 class="u-delta"><a href="https://www.eneco.nl">Eneco.nl</a></h2>
    <p>For Eneco i’ve worked together with a team of 3 Front-enders on their long running commercial website.</p>
    <p>
    <strong>Tools:</strong><br>
    React, Storybook, HTML, CSS, Webpack, Scrum</p>
    <p>
    <strong>Client:</strong><br>
    Eneco / we are you</p>
  </li>

  {# <li class="c-recent__item  |  o-mesh__cell  |  o-island  |  t-trade-bg  |  o-flow">
    <h2 class="u-delta"><a href="https://www.dunea.nl">Dunea.nl</a></h2>
    <p>For Dunea I’ve pioneered a reusable Front-end stack which enabled the team to develop with a living component library.</p>
    <p>
    <strong>Tools:</strong><br>
    React, Storybook, HTML, CSS, Webpack, Scrum</p>
    <p>
    <strong>Client:</strong><br>
    Dunea / we are you</p>
  </li> #}

</ul>
