<ul class="[ c-recent ]  [ o-mesh  o-mesh--gap-base ]">

  <li class="[ c-recent__item ]  [ o-mesh__cell ]  [ o-island ]  [ t-trade-bg ]  [ u-module ]">
    <h2 class="u-delta"><a href="https://github.com/supple-css/supple">Supple CSS</a></h2>
    <p>Supple CSS is a reliable and testable Sass framework in its truest sense. It's based on the ITCSS methodology and is suited very well for component-based UI development.</p>
    <strong>Tools:</strong>
    <p>Sass, OOCSS, ITCSS, CSS</p>
    <strong>Client:</strong>
    <p>Personal</p>
  </li>

  <li class="[ c-recent__item ]  [ o-mesh__cell ]  [ o-island ]  [ t-trade-bg ]  [ u-module ]">
    <h2 class="u-delta"><a href="https://www.leegstandhulp.nl">Leegstandhulp.nl</a></h2>
    <p>For Eneco’s leegstandhulp I’ve created a web application based on <a href="https://www.gatsbyjs.org/">Gatsby.js</a> where users can easily register vacant properties.</p>
    <strong>Tools:</strong>
    <p>React, Gatsby, API, HTML, CSS, Webpack</p>
    <strong>Client:</strong>
    <p>Eneco / E-sites</p>
  </li>

  <li class="[ c-recent__item ]  [ o-mesh__cell ]  [ o-island ]  [ t-trade-bg ]  [ u-module ]">
    <h2 class="u-delta"><a href="https://www.betabit.nl">Betabit.nl</a></h2>
    <p>I did Front-end work for Betabit. With CSS Grid Layout, Intersection observer & other techniques I’ve created an accessible, vibrant, future-proof new platform.</p>
    <strong>Tools:</strong>
    <p>HTML, CSS, JavaScript, Pattern-Lab</p>
    <strong>Client:</strong>
    <p>Betabit / we are you</p>
  </li>

  <li class="[ c-recent__item ]  [ o-mesh__cell ]  [ o-island ]  [ t-trade-bg ]  [ u-module ]">
    <h2 class="u-delta"><a href="https://www.eneco.nl">Eneco.nl</a></h2>
    <p>For Eneco i’ve worked together with a team of 3 Front-enders on their long running commercial website.</p>
    <strong>Tools:</strong>
    <p>React, Storybook, HTML, CSS, Webpack, Scrum</p>
    <strong>Client:</strong>
    <p>Eneco / we are you</p>
  </li>

  {# <li class="[ c-recent__item ]  [ o-mesh__cell ]  [ o-island ]  [ t-trade-bg ]  [ u-module ]">
    <h2 class="u-delta"><a href="https://www.dunea.nl">Dunea.nl</a></h2>
    <p>For Dunea I’ve pioneered a reusable Front-end stack which enabled the team to develop with a living component library.</p>
    <strong>Tools:</strong>
    <p>React, Storybook, HTML, CSS, Webpack, Scrum</p>
    <strong>Client:</strong>
    <p>Dunea / we are you</p>
  </li> #}

</ul>
