/*  =========================================================================
    settings.vars
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/supple/lib/settings/defaults' with (
  $font-size: 20px,
  $space-factor-tiny: 1,
  $space-factor-small: 2,
  $space-factor-base: 4,
  $space-factor-large: 8,
  $space-factor-huge: 16,
);

@use '../../../node_modules/supple/lib/objects/layout/variables' with (
  $gaps: (
    'base': defaults.$space-base,
    'small': defaults.$space-small,
  ),
  $fill-in-breakpoint: (lap),
  $fit-in-breakpoint: (lap),
);

@use '../../../node_modules/supple/lib/utilities/spacing' with (
  $in-breakpoint: (lap),
  $sizes: (
    '-base': defaults.$space-base,
    '-small': defaults.$space-small,
    '-none': 0,
  )
);



/*  Custom
    ========================================================================= */

/**
 * Typography
 */
$family-body: 'Crimson Text', serif !default;
$family-leader: 'Ubuntu', sans-serif !default;

$font-size-min: defaults.$font-size !default;
$font-size-max: 28px !default;

$font-size-alpha: 60px !default;
$font-size-beta: 48px !default;
$font-size-gamma: 40px !default;
$font-size-delta: 32px !default;
$font-size-epsilon: 24px !default;
$font-size-zeta: 20px !default;


/**
 * Colors
 * https://coolors.co/fcfcfc-12355b-ee4266-161f2b-3ddc97
 */
$color-light: #fcfcfc !default; // Baby powder
$color-gray: #ececec !default;
$color-dark: #12355b !default; // Prussian blue
$color-brand-primary: #ee4266 !default; // Paradise pink
$color-brand-secondary: #161F2B !default; // Rich black
$color-brand-tertiary: #3ddc97 !default; // Medium aquamarine
