/*----------------------------------------------------------------------------*\
    $LAYER
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .layer {
        position: relative;
        @extend %module;
        @include rem(padding, $space 0);
    }


    /**
     * Modifyers: layer sizes
     */
    .layer--medium {
        @include rem(padding, $space*2 0);
    }
    .layer--large {
        @include rem(padding, $space*3 0);
    }


    /**
     * Modifyers: colors
     */
    .layer--lightest {
        background-color: $color-lightest;
    }

    .layer--dark {
        background-color: $base-color;
    }

    .layer--brand {
        background-color: $brand;
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/