/*  =========================================================================
    components.header
    ========================================================================= */

/*  Module
    ========================================================================= */

.c-header {
  padding-top: var(--supple-space-small);
  padding-right: var(--supple-space);
  padding-bottom: var(--supple-space-small);
  padding-left: var(--supple-space);
}
