/*  =========================================================================
    components.header
    ========================================================================= */

.c-header {
  position: relative;
  background-color: var(--gray-e);
}

.c-header__wrap-nav {
  position: relative;
  z-index: 5;
  padding: var(--supple-space) 0;
}

.c-header__visual,
.c-header__visual__object,
.c-header__wrap-heading {
  position: absolute;
}

.c-header__visual,
.c-header__wrap-heading {
  left: 0;
  right: 0;
}


.c-header__visual {
  top: 0;
  bottom: 0;
}

.c-header__visual__object {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.c-header__wrap-heading {
  bottom: var(--supple-space-small);
}

.c-header__heading {
  color: var(--white);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*  Modifiers
    ========================================================================= */

.c-header--masthead {
  min-height: 70vh;
  background-color: var(--gray-c);
}

.c-header--masthead .c-header__wrap-nav {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 20%, rgba(0, 0, 0, 0) 100%);
}

.c-header--masthead a {
  color: var(--white);
  text-shadow: none;
}

.c-header--masthead a:hover,
.c-header--masthead a:focus,
.c-header--masthead a:active {
  color: var(--brand);
}
