/*  =========================================================================
    components.logo
    ========================================================================= */

/*  Module
    ========================================================================= */

.c-logo {
  font-family: var(--family-leader);
  text-transform: uppercase;
  text-decoration: none;
}

.c-logo:hover,
.c-logo:focus {
  text-decoration: underline;
}

