/*  =========================================================================
    components.trusted
    ========================================================================= */

/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

.c-trusted {
  padding-left: var(--supple-space);
  padding-right: var(--supple-space);
}

.c-trusted__list {
  margin-bottom: 0;
}

.c-trusted__wrap-logo {
  display: block;
  height: var(--supple-space);
  margin-bottom: var(--supple-space);
  opacity: 0.4;
}

.c-trusted__wrap-logo:hover,
.c-trusted__wrap-logo:focus {
  opacity: 1;
}

.c-trusted__wrap-logo svg {
  height: 100%;
  width: auto;
}
