<section id="about" class="layer  layer--large  layer--lightest  text--center  js--page-section">
    <header class="header  sign">
        <h1 class="header__head  kilo">About me</h1>
        <h2 class="header__sub-head  beta  color--light  flatten">UX and front-end architecture enthousiast</h2>
    </header>
    <hr class="rule  rule--tiny">
    <div class="retain">
        <div class="grid  grid--wide  grid--rev">
            <div class="grid__cell  unit-1-1  unit-8-12--gt-palm">
                <p>Howdy, my name is Bram Smulders and I am a UX-developer, front-end architect & writer from Tilburg, The Netherlands. With the greatest pleasure I put tons of my time and energy into my work. Currently I am employed as senior front-end developer for <a href="http://www.colours.nl" rel="external">Colours</a>, a top 10 fullservice agency in Den Bosch.</p>
                <p>I specialise in coding scalable CSS and Javascript for large apps and websites, with a strong focus on performance, OOCSS and powerful and speedy development. As a member of the <a href="http://www.fronteers.nl" rel="external" title="Fronteers labor union">Fronteers labor union</a> I am always on top of the rapid changes within the internet world.</p>
                <p>Want to know more? You are lucky; I share a lot of my thoughts & my daily lunch on <a href="http://twitter.com/bramsmulders" rel="external" title="follow me on Twitter">twitter</a>.</p>
            </div>
            <div class="grid__cell unit-1-1  unit-4-12--gt-palm">
                <p class="sign">
                    <a href="mailto:bram@bramsmulders.com" class="button  button--brand  button--large  button--full" title="Contact me!">Get in touch!</a>
                </p>
                <div class="nav--social  nav--social--dark  text--center  sign--large">
                    {{> navsocial  }}
                </div>
            </div>
        </div>
    </div><!-- .site-retain -->
</section><!-- layer -->