<section id="work" class="layer  layer--large  layer--brand  color--white  text--center  js--page-section">
    <header class="header  sign">
        <h1 class="header__head  kilo">I am available!</h1>
        <h2 class="header__sub-head  beta  color--white  flatten">I work best with enthusiastic teams on great projects</h2>
    </header>
    <hr class="rule  rule--tiny  rule--white">
    <div class="retain">
        <div class="grid  grid--wide">
            <div class="grid__cell  unit-1-1  unit-6-12--gt-palm">
                <h3 class="flatten">Agency</h3>
                <p>If you have a job opening in wich you search for a spontaneous, responsible, work driven UX-developer and front-end architect, I am your man! I work best in enthusiastic, agile teams on great projects.</p>
            </div><!-- .grid__cell -->
            <div class="grid__cell  unit-1-1  unit-6-12--gt-palm">
                <h3 class="flatten">Freelance</h3>
                <p>Do you have a stunning project but you need a extra hand? I am your man! I can work on location and collaborate on your workfloor. <br>When needed I can also work from my home office.</p>
            </div><!-- .grid__cell -->
        </div><!-- .grid -->
        <a href="mailto:bram@bramsmulders.com" class="button  button--white  button--large" title="Contact me!">Get in touch!</a>
    </div><!-- .site-retain -->
</section><!-- layer -->