<section id="blog" class="layer  layer--large  color--white  text--center  js--page-section">
    <div class="background  background--absolute  background--writer"></div>
    <div class="background__overlay">
        <header class="header  sign">
            <h1 class="header__head  kilo">Blog</h1>
            <h2 class="header__sub-head  beta  color--white  flatten">Well yes, I also write</h2>
        </header>
        <hr class="rule  rule--tiny  rule--white">
        <div class="retain  retain--small  text--left">
            <div class="grid  grid--center">

                <div class="grid__cell  unit-6-12  unit-4-12--desk">
                    <article class="jetpack  js--slide-in">
                        <div class="jetpack__overlay">
                            <div class="jetpack__center">
                                <div class="hgroup  flatten">
                                    <h1 class="jetpack__title  gamma  hN">Finger friendly ALL the things</h1>
                                </div>
                            </div><!-- .jetpack__center -->
                        </div><!-- .jetpack__overlay -->
                        <span data-picture data-alt="Thumbnail Finger friendly ALL the things" class="jetpack__platform--resp">
                            <span data-src="images/theme/post/finger-friendly_small.jpg"></span>
                            <span data-src="images/theme/post/finger-friendly.jpg"     data-media="(min-width: 29.9375em)"></span>
                            <noscript>
                                <img src="images/theme/post/finger-friendly.jpg" alt="Thumbnail Finger friendly ALL the things">
                            </noscript>
                        </span>
                        <a href="finger-friendly-all-the-things.html" class="jetpack__link" title="Finger friendly ALL the things">Finger friendly ALL the things</a>
                    </article><!-- .jetpack -->
                </div><!-- .grid__cell -->

                <div class="grid__cell  unit-6-12  unit-4-12--desk">
                    <article class="jetpack  js--slide-in">
                        <div class="jetpack__overlay">
                            <div class="jetpack__center">
                                <div class="hgroup  flatten">
                                    <h1 class="jetpack__title  gamma  hN">How I improved my workflow with SMACSS & Sass</h1>
                                </div>
                            </div><!-- .jetpack__center -->
                        </div><!-- .jetpack__overlay -->
                        <span data-picture data-alt="Thumbnail How I improved my workflow with SMACSS & Sass" class="jetpack__platform--resp">
                            <span data-src="images/theme/post/workflow_small.jpg"></span>
                            <span data-src="images/theme/post/workflow.jpg"     data-media="(min-width: 29.9375em)"></span>
                            <noscript>
                                <img src="images/theme/post/workflow.jpg" alt="Thumbnail How I improved my workflow with SMACSS & Sass">
                            </noscript>
                        </span>
                        <a href="how-i-improved-my-workflow-with-smacss-sass.html" class="jetpack__link" title="How I improved my workflow with SMACSS & Sass">How I improved my workflow with SMACSS & Sass</a>
                    </article><!-- .jetpack -->
                </div><!-- .grid__cell -->

            </div><!-- .grid -->
        </div><!-- .retain -->
    </div>
</section><!-- layer -->