<footer class="footer  layer  layer--large  text--center  color--white">
    <div class="retain">
        <div class="background  background--absolute  {{defbackground}}"></div>
        <div class="background__overlay">
            <h1>Get in touch</h1>
            <div class="nav--social  text--center  sign--triple">
                {{> navsocial }}
            </div>
            <p class="milli">
                © 2013 <a href="http://twitter.com/bramsmulders" rel="external" title="Follow me on twitter">Bram Smulders</a>. Made with <a href="http://blocss.github.io/blocss" rel="external" title="Blocss CSS framework">Blocss CSS Framework</a> & <a href="http://yeoman.io" rel="external" title="Yeoman">Yeoman</a>.
            </p>
        </div>
    </div>
</footer>