<section id="hero" class="masthead  text--center  js--page-section">
    <div class="hero">
        <ul class="hero__panes">
            <li class="hero__pane  color--white">
                <div class="background  {{defbackground}}"></div>
                <div class="hero__center  is-animated">
                    <h1 id="time" data-message="Happy New Year Astronauts!" class="giga">Happy New Year Astronauts!</h1>
                    <p class="caps">{{herosubtitle}}</p>
                    {{#if herohasbuttons }}
                    <a href="#about" class="button  button--white  button--full--palm-port" title="About Bram Smulders">About</a>
                    <a href="#blog" class="button  button--white  button--full--palm-port" title="UX & front-end based blogposts">Blog</a>
                    {{!-- <a href="#work" class="button  button--large  button--brand  button--full--palm-port" title="I am available for work">I am available</a> --}}
                    <a href="#portfolio" class="button  button--white  button--full--palm-port" title="Bram Smulders portfolio">Portfolio</a>
                    {{/if}}
                </div><!-- .hero__center -->
            </li><!-- .hero__pane -->
        </ul><!-- .hero__panes -->
    </div><!-- .hero -->
</section><!-- .masthead -->