<ul class="nav">
    <li><a href="http://twitter.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Follow me on twitter"></a></li>
    <li><a href="http://www.facebook.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Follow me on Facebook"></a></li>
    <li><a href="http://www.github.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Watch me on GitHub"></a></li>
    <li><a href="http://nl.linkedin.com/in/smuldersbram" class="icon  icon--large" rel="external" data-icon="" title="Connect with linkedin"></a></li>
</ul>