---
image_small_tagname: "_small"
---
<section id="portfolio" class="layer  layer--large  layer--lightest  text--center  js--page-section">
    <header class="header  sign">
        <h1 class="header__head  kilo">Portfolio</h1>
        <h2 class="header__sub-head  beta  color--light  flatten">A grasp of stuff that I have made</h2>
    </header>
    {{index.name}}
    <hr class="rule  rule--tiny">
    <div class="retain">
        <div class="grid  grid--center">

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Blocss</h1>
                                <h2 class="jetpack__subtitle  milli  hN">CSS framework</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Blocss" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/blocss_small.png"></span>
                        <span data-src="images/theme/cases/blocss.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/blocss.png" alt="Screenshot Blocss">
                        </noscript>
                    </span>
                    <a href="http://blocss.github.io/blocss" class="jetpack__link" rel="external" title="Blocss CSS framework">Blocss CSS framework</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">KNVB Talent Team</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot KNVB talent team" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/scoorjestage_small.png"></span>
                        <span data-src="images/theme/cases/scoorjestage.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/scoorjestage.png" alt="Screenshot KNVB talent team">
                        </noscript>
                    </span>
                    <a href="http://www.knvbtalentteam.nl" class="jetpack__link" rel="external" title="KNVB Talent Team">KNVB Talent Team</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Beautyspot</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Beautyspot" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/beautyspot_small.png"></span>
                        <span data-src="images/theme/cases/beautyspot.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/beautyspot.png" alt="Screenshot Beautyspot">
                        </noscript>
                    </span>
                    <a href="http://www.beautyspot.nl" class="jetpack__link" rel="external" title="Beautyspot">Beautyspot</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">klantOK</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot klantOK" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/klantok_small.png"></span>
                        <span data-src="images/theme/cases/klantok.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/klantok.png" alt="Screenshot klantOK">
                        </noscript>
                    </span>
                    <a href="http://klantok.nl" class="jetpack__link" rel="external" title="klantOK">KlantOK</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Emerce eDay</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Emerce eDay" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/eday_small.png"></span>
                        <span data-src="images/theme/cases/eday.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/eday.png" alt="Screenshot Emerce eDay">
                        </noscript>
                    </span>
                    <a href="http://www.emerceeday.nl" class="jetpack__link" rel="external" title="Emerce eDay">Emerce eDay</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Skidôme</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Skidôme" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/skidome_small.png"></span>
                        <span data-src="images/theme/cases/skidome.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/skidome.png" alt="Screenshot Skidôme">
                        </noscript>
                    </span>
                    <a href="http://skidome.nl" class="jetpack__link" rel="external" title="Skidôme">Skidôme</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Freshheads</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Freshheads" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/freshheads_small.png"></span>
                        <span data-src="images/theme/cases/freshheads.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/freshheads.png" alt="Screenshot Freshheads">
                        </noscript>
                    </span>
                    <a href="http://www.freshheads.com" class="jetpack__link" rel="external" title="Freshheads">Freshheads</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">QForma</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: QForma</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot QForma" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/qforma_small.png"></span>
                        <span data-src="images/theme/cases/qforma.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/qforma.png" alt="Screenshot QForma">
                        </noscript>
                    </span>
                    <a href="http://qforma.nl" class="jetpack__link" rel="external" title="QForma">QForma</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-4-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  gamma  hN">Andere Koek advertising</h1>
                                <h2 class="jetpack__subtitle  milli  hN">Agency: QForma</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Andere Koek advertising" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/anderekoek_small.png"></span>
                        <span data-src="images/theme/cases/anderekoek.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/anderekoek.png" alt="Screenshot Andere Koek advertising">
                        </noscript>
                    </span>
                    <a href="http://www.anderekoekadvertising.nl" class="jetpack__link" rel="external" title="Andere koek advertising">Andere koek advertising</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

        </div><!-- .grid -->
        <a href="mailto:bram@bramsmulders.com" class="button  button--brand  button--large" title="Contact me!">Get in touch!</a>
    </div><!-- .site-retain -->
</section><!-- layer -->