---
image_small_tagname: "_small"
---
<section id="portfolio" class="layer  layer--large  layer--lightest  text--center  js--page-section">
    <header class="header  sign">
        <h1 class="header__head  kilo">Portfolio</h1>
        <h2 class="header__sub-head  beta  color--light  flatten">A grasp of stuff that I have made</h2>
    </header>
    {{index.name}}
    <hr class="rule  rule--tiny">
    <div class="retain">
        <div class="grid  grid--center">

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">Blocss</h1>
                                <h2 class="jetpack__subtitle  micro  hN">CSS framework</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Blocss" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/blocss_small.png"></span>
                        <span data-src="images/theme/cases/blocss.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/blocss.png" alt="Screenshot Blocss">
                        </noscript>
                    </span>
                    <a href="http://blocss.github.io/blocss" class="jetpack__link" rel="external" title="Blocss CSS framework">Blocss CSS framework</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">Eneco.nl</h1>
                                <h2 class="jetpack__subtitle  micro  hN">Agency: Colours</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Eneco.nl" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/eneco_small.png"></span>
                        <span data-src="images/theme/cases/eneco.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/eneco.png" alt="Screenshot Eneco.nl">
                        </noscript>
                    </span>
                    <a href="http://eneco.nl/" class="jetpack__link" rel="external" title="Eneco.nl">Eneco.nl</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">Seksualiteit.nl</h1>
                                <h2 class="jetpack__subtitle  micro  hN">Agency: Colours</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Seksualiteit.nl" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/seksualiteit_small.png"></span>
                        <span data-src="images/theme/cases/seksualiteit.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/seksualiteit.png" alt="Screenshot Seksualiteit.nl">
                        </noscript>
                    </span>
                    <a href="http://seksualiteit.nl/" class="jetpack__link" rel="external" title="Seksualiteit.nl">Seksualiteit.nl</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">KNVB Talent Team</h1>
                                <h2 class="jetpack__subtitle  micro  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot KNVB talent team" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/scoorjestage_small.png"></span>
                        <span data-src="images/theme/cases/scoorjestage.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/scoorjestage.png" alt="Screenshot KNVB talent team">
                        </noscript>
                    </span>
                    <a href="http://www.knvbtalentteam.nl" class="jetpack__link" rel="external" title="KNVB Talent Team">KNVB Talent Team</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">Beautyspot</h1>
                                <h2 class="jetpack__subtitle  micro  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Beautyspot" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/beautyspot_small.png"></span>
                        <span data-src="images/theme/cases/beautyspot.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/beautyspot.png" alt="Screenshot Beautyspot">
                        </noscript>
                    </span>
                    <a href="http://www.beautyspot.nl" class="jetpack__link" rel="external" title="Beautyspot">Beautyspot</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">Emerce eDay</h1>
                                <h2 class="jetpack__subtitle  micro  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Emerce eDay" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/eday_small.png"></span>
                        <span data-src="images/theme/cases/eday.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/eday.png" alt="Screenshot Emerce eDay">
                        </noscript>
                    </span>
                    <a href="http://www.emerceeday.nl" class="jetpack__link" rel="external" title="Emerce eDay">Emerce eDay</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">Skidôme</h1>
                                <h2 class="jetpack__subtitle  micro  hN">Agency: Freshheads</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot Skidôme" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/skidome_small.png"></span>
                        <span data-src="images/theme/cases/skidome.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/skidome.png" alt="Screenshot Skidôme">
                        </noscript>
                    </span>
                    <a href="http://skidome.nl" class="jetpack__link" rel="external" title="Skidôme">Skidôme</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

            <div class="grid__cell  unit-6-12  unit-3-12--desk">
                <article class="jetpack  js--slide-in">
                    <div class="jetpack__overlay">
                        <div class="jetpack__center">
                            <div class="hgroup  flatten">
                                <h1 class="jetpack__title  normalis  hN">QForma</h1>
                                <h2 class="jetpack__subtitle  micro  hN">Agency: QForma</h2>
                            </div>
                        </div><!-- .jetpack__center -->
                    </div><!-- .jetpack__overlay -->
                    <span data-picture data-alt="Screenshot QForma" class="jetpack__platform--resp">
                        <span data-src="images/theme/cases/qforma_small.png"></span>
                        <span data-src="images/theme/cases/qforma.png"     data-media="(min-width: 29.9375em)"></span>
                        <noscript>
                            <img src="images/theme/cases/qforma.png" alt="Screenshot QForma">
                        </noscript>
                    </span>
                    <a href="http://qforma.nl" class="jetpack__link" rel="external" title="QForma">QForma</a>
                </article><!-- .jetpack -->
            </div><!-- .grid__cell -->

        </div><!-- .grid -->
        <a href="mailto:bram@bramsmulders.com" class="button  button--brand  button--large" title="Contact me!">Get in touch!</a>
    </div><!-- .site-retain -->
</section><!-- layer -->