<hr class="rule">
<p class="text--center  flatten">
    {{#if subpostprev}}
    <a href="{{subpostprev}}" class="button  button--brand    button--full--palm-port" title="Previous post">Previous post</a>
    {{/if}}
    <a href="/#blog" class="button    button--full--palm-port" title="Back to overview">Overview</a>
    {{#if subpostnext}}
    <a href="{{subpostnext}}" class="button  button--brand    button--full--palm-port" title="Next post">Next post</a>
    {{/if}}
</p>