@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $MASTHEAD
\*----------------------------------------------------------------------------*/

.masthead {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
    .masthead__content {
        order: 2;
    }
        .masthead__content__inner {
            @include rem(padding, $blocss-space-large 0);
        }
    .masthead__visual {
        position: relative;
        flex: 1;
        order: 1;
        overflow: hidden;
        background-color: lightgray;

        .no-objectfit & {
            background-image: url(../images/bakkes.jpg);
            background-size: cover;
            background-position: center center;
        }
    }
    .masthead__visual__object {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        animation: 1.5s $ease-swift both mastheadScale;
        opacity: 0;

        .no-objectfit & {
            display: none;
        }
    }


    @keyframes mastheadScale {
        0% {
            transform: scale(1.1);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }



/*  Responsive
\*----------------------------------------------------------------------------*/

@include media-query(lap) {
    .masthead {
        flex-direction: row;
    }
    .masthead__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .masthead__content__inner {
            padding: 0;
        }
    .masthead__visual {
        flex: 1 0 50%;
        order: 2;
    }
}