/*----------------------------------------------------------------------------*\
    $BAR
    Colored bars
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .m-bar{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        background-image: url(../gfx/theme/sprite.20130126.svg);
        background-position: -100% 0;
        @include prefixer(background-size, 500px 500px, webkit moz ms o spec);
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk state
         */
        @include media-query(desk){

            .m-bar{
                position: fixed;
                top: 0;
                right: auto;
                width: 10px;
                height: auto;
                background-position: left top;
                background-position: 0 -100%;
                border-bottom-width: 0;
            }

        }


        /**
         * Portable state
         */
        //@include media-query(portable){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(lapup){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/