/*----------------------------------------------------------------------------*\
    $HELPER
    Handy dandy helper classes
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /* Vertical rhythm helpers
    \*------------------------------------------------------------------------*/

        /**
         * Remove all margin bottom
         */
        .flatten{
            margin-bottom: 0 !important;
        }


        /**
         * Half margin bottom
         */
        .numberplate{
            @include m-margin-bottom(.5);
        }



    /* Element helpers
    \*------------------------------------------------------------------------*/

        hr,
        .rule{
            @extend .rule;
            color: $lightdark;
        }



    /* Misc
    \*------------------------------------------------------------------------*/

        /**
         * Prefetch block, to enable early prefetching of assets
         */
        .prefetch{
            display: none !important;
        }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Browserfixes
    \*------------------------------------------------------------------------*/

        .lt-ie9 .browser-hidden{
            display: none;
        }



    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(portable){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(lapup){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/