/*----------------------------------------------------------------------------*\
    $LOGO
    The Bram Smulders logo
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /* a */.m-logo{
        display: inline-block;
        margin-left: $half-spacing-unit;
        // Align the stuff to bottom
        vertical-align: bottom;
        // Ultra thin
        font-weight: 100;
        // Bring the letters more together
        letter-spacing: -2px;
        color: $lightest;

        &:hover,
        &:focus,
        &.is-active{
            color: $brand;
            background-color: transparent;
        }
    }
        /* span */.m-logo__b{
            @include font-size($giga-size);
        }
        /* span */.m-logo__s{
            @include font-size($kilo-size);
        }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(portable){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(lapup){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/