<footer class="c-footer  |  o-grid  |  o-layer  |  t-dash-bg" role="contentinfo" id="contact">
  <div class="o-flow">
    <h2 class="c-heading  c-heading--highlight  |  h3">Get in touch</h2>

    <p>Want to know more? You are lucky; I share a lot of my thoughts &amp; my daily lunch on <a href="http://twitter.com/bramsmulders" rel="external">twitter</a> and I share my code on <a href="http://github.com/bramsmulders" rel="external">Github</a>. Alternatively you can connect with me on <a href="http://nl.linkedin.com/in/smuldersbram" rel="external">Linkedin</a> or <a href="/available">hire me</a>.</p>

    {# <theme-toggle></theme-toggle> #}

    <p><small>© <strong>bram.is</strong> 2013-Today | Powered by <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://github.com/supple-kit/supple-css">Supple CSS</a></small></p>
  </div>
</footer>
