<a href="#main-content">Skip to content</a>

<header role="banner">
  <div>
    <a href="/">
      <span class="u-visually-hidden">{{ site.name }} - Home</span>
      <span aria-hidden="true">{{ site.name }}</span>
    </a>
    {% set ariaLabel = 'navigation' %}
    {% include "partials/components/nav.njk" %}
  </div>
</header>
