<a class="c-button  |  c-skip-link" href="#main-content">Skip to content</a>

<header class="c-masthead  |  o-grid" role="banner">
  <div class="o-grid__retained">
    <div class="o-layout  o-layout--align-block-center">

      <div class="o-layout__fit@lap  |  u-margin-block-end--small  u-margin-block-end--none@lap">

        <div class="c-logo">
          <a class="c-logo__domain" href="/"><span class="u-visually-hidden">{{ site.name | safe }} - Home</span><span aria-hidden="true">{{ site.name | safe }}<span class="t-dark-color">/</span></span></a>{% if part %}<a class="c-logo__part" tabindex="-1" href="/{{part}}"><span class="t-dark-color">{{part}}</span></a>{% endif %}
        </div>
      </div><!-- .o-layout__cell -->

      <div class="o-layout__fill@lap">
        {% set ariaLabel = 'navigation' %}
        {% include "partials/components/nav.njk" %}
      </div><!-- .o-layout__cell -->

    </div><!-- .o-layout -->
  </div>
</header>
