/*----------------------------------------------------------------------------*\
    $LINKS
    Different link styles
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    a{
        color: $brand;
        @include transition(color 1s, background-color 1s);

        &:hover,
        &:focus{
            text-decoration: none;
            color: $lightest;
            @include transition-duration(.3s);
        }
    }

    .link--rev{
        color: $lightest;

        &:hover,
        &:focus{
            color: $brand;
        }
    }

    .link--attention{
        display: inline-block;
        padding: 0 $half-spacing-unit/2;
        padding: 0 ($half-spacing-unit/3)/$base-font-size*1rem;
        color: $lightest;
        background-color: $brand;

        &:hover,
        &:focus{
            color: $brand;
            background-color: $lightest;
        }
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(portable){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(lapup){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/