/* stylelint-disable */
/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
       url('/fonts/ubuntu-v14-latin-700.woff2') format('woff2');
}

/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
       url('/fonts/crimson-text-v10-latin-regular.woff2') format('woff2');
}
/* crimson-text-italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
       url('/fonts/crimson-text-v10-latin-italic.woff2') format('woff2');
}
/* crimson-text-700 - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
       url('/fonts/crimson-text-v10-latin-700.woff2') format('woff2');
}
/* stylelint-enable */
