/*----------------------------------------------------------------------------*\
    $BACKGROUND
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .background {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        width: 100%;
        height: 100%;
    }

    .background--absolute {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

        .background__overlay {
            position: relative;
            z-index: 10;
        }


    .background--rain {
        background-image: url(../images/theme/backgrounds/rain.jpg);
    }
    .background--writer {
        background-image: url(../images/theme/backgrounds/writer.jpg);
    }
    .background--jarvis {
        background-image: url(../images/theme/backgrounds/jarvis.jpg);
        background-position: center top;
    }




/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/