/*----------------------------------------------------------------------------*\
    $CAROUSEL
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .carousel {
        position: relative;
    }
        .carousel__panes {
            @include rem(margin, 0 $space*4);
            list-style: none;
        }
            .carousel__pane {
                @extend %module;
                width: 100%;
            }

    .carousel__control {
        position: absolute;
        top: 50%;
        @include translate(0, -50%);

        &.is-prev {
            left: 0;
        }
        &.is-next {
            right: 0;
        }
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/