/*----------------------------------------------------------------------------*\
    $HELPERS
    Set of handy dandy helper classes
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /* Colors
    \*------------------------------------------------------------------------*/

        /**
         * Greys
         */
        .color--white {
            color: $color-white;
        }
        .color--dark {
            color: $color-dark;
        }
        .color--medium {
            color: $color-medium;
        }
        .color--light {
            color: $color-light;
        }
        .color--lightest {
            color: $color-lightest;
        }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/