/*----------------------------------------------------------------------------*\
    $QUOTES
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    blockquote {
        @extend %module;
        @include rem(margin-left, $space*3);
        @include rem(padding, $space-half $space);
        text-indent: 0;
        font-family: $brand-face;
        @include font-size($h2-size);
        font-style: italic;

        border-left: $space-half/2 solid $color-light;

        p {
            &:before,
            &:after {
                content: normal;
            }
        }
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/