/*----------------------------------------------------------------------------*\
    $RULE
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .rule {
        border-color: $color-light;
        border-width: 2px;
    }


    /**
     * Modifyer: tiny rule
     */
    .rule--tiny {
        max-width: $space*3;
        margin-left: auto;
        margin-right: auto;
    }


    /**
     * Modifyer: colors
     */
    .rule--white {
        border-color: $color-white;
    }






/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/