/*----------------------------------------------------------------------------*\
    $SLIDE
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .slide-in {
        transform: translate(0, 150px);
        animation: slide-in $transition-duration-long ease forwards;

        &:nth-child(odd) {
          animation-duration: $transition-duration-medium; /* So they look staggered */
        }
    }

    @keyframes slide-in {
        to {
            transform: translate(0, 0);
        }
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/