@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $TYPOGRAPHY
\*----------------------------------------------------------------------------*/

/*  Sizes
\*----------------------------------------------------------------------------*/

%normalis {
    font-size: 1em;
}
%alpha {
    font-size: 2.5em;
}
%beta {
    font-size: 2em;
}
%gamma {
    font-size: 1.75em;
}
%delta {
    font-size: 1.25em;
}
%epsilon {
    font-size: 1em;
}
%zeta {
    font-size: 1em;
}
%milli {
    font-size: 0.75em;
}



/*  Headings
\*----------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    @include rem(margin-bottom, $blocss-space-small);
    font-family: $family-leader;
    line-height: 1.14;
    text-transform: uppercase;
    color: $brand;
}

h1 {
    @extend %alpha;
}
h2 {
    @extend %beta;
}
h3 {
    @extend %gamma;
}
h4 {
    @extend %delta;
}
h5 {
    @extend %epsilon;
}
h6 {
    @extend %zeta;
}

blockquote {
    @include rem(margin-left, $blocss-space);
    @include rem(padding, $blocss-space-small $blocss-space);
    text-indent: 0;
    font-style: italic;
    border-left: 6px solid $gray-b;

    *:last-child {
        margin-bottom: 0;
    }
}

pre {
    @include rem(padding, $blocss-space-small);
    background-color: $gray-c;
    overflow: auto;
}