@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in your framework that you do not wish
    to keep, simply redefine here. This means that if the framework, for example,
    sets your `$base-font-size` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $OVERRIDES
    Place any variables that should override defaults here.
\*----------------------------------------------------------------------------*/

$blocss-base-font-size: 16px;
$blocss-base-line-height: 24px;



/*----------------------------------------------------------------------------*\
    $CUSTOM
    Place any of your own variables that sit on top of the framework here.
\*----------------------------------------------------------------------------*/

/*  Typography
\*----------------------------------------------------------------------------*/

$family-body: 'Arvo', serif !default;
$family-leader: 'Oswald', sans-serif !default;



/*  Colors
\*----------------------------------------------------------------------------*/

/**
 * Brand
 */
$brand: #CC4425 !default;

/**
 * Grayscale
 */
$gray-a: #3E4147 !default;



/*  Transitions
\*----------------------------------------------------------------------------*/

$ease-swift: cubic-bezier(.55,0,.1,1) !default;