@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in your framework that you do not wish
    to keep, simply redefine here. This means that if the framework, for example,
    sets your `$base-font-size` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $OVERRIDES
    Place any variables that should override defaults here.
\*----------------------------------------------------------------------------*/

$blocss-base-font-size: 16px;
$blocss-base-line-height: 24px;



/*----------------------------------------------------------------------------*\
    $CUSTOM
    Place any of your own variables that sit on top of the framework here.
\*----------------------------------------------------------------------------*/

/*  Typography
\*----------------------------------------------------------------------------*/

$face-base: 'Arvo', serif !default;
$face-secondary: 'Oswald', sans-serif !default;


/**
 * Sizes
 */
$normalis: (
    'font-size': $blocss-base-font-size,
    'line-height': $blocss-base-line-height
)!default;

$alpha: (
    'font-size': 84px,
    'line-height': 96px
)!default;

$beta: (
    'font-size': 68px,
    'line-height': 98px
)!default;

$gamma: (
    'font-size': 48px,
    'line-height': 70px
)!default;

$delta: (
    'font-size': 34px,
    'line-height': 49px
)!default;

$epsilon: $normalis !default;

$zeta: $normalis !default;



/*  Colors
\*----------------------------------------------------------------------------*/

/**
 * Brand
 */
$brand: #CC4425 !default;

/**
 * Grayscale
 */
$gray-a: #3E4147 !default;



/*  Transitions
\*----------------------------------------------------------------------------*/

$ease-swift:        cubic-bezier(.55,0,.1,1) !default;