{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <div class="[ o-retain o-retain--wall ]">
      <article>
        {% include "partials/components/intro.njk" %}
        <div>
          {{ content | safe }}
        </div>
      </article>
    </div>
  </main>
{% endblock %}

{{ content | safe }}
