{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="o-grid">
      {% include "partials/components/intro.njk" %}
      <section class="o-content  |  o-layer  |  o-grid  o-grid--inner  |  o-flow">
        {{ content | safe }}
      </section>
    </article>
  </main>
{% endblock %}
