{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introElement = "header" %}
{% set introPrefix %}
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" itemprop="datePublished">{{ date | dateFilter }}</time>
  {% endif %}
{% endset %}
{% set introSummary %}
  <span>Estimated reading time: {{ helpers.getReadingTime(content) }} minutes</span>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ o-grid ]" itemscope itemtype="http://schema.org/BlogPosting">
      {% include "partials/components/intro.njk" %}
      <div class="o-layer">
        <section class="[ o-content ]  [ u-module ]  [ u-margin-block-end-base ]">
          {{ content | safe }}
        </section>
        {% if site.enableThirdPartyComments %}
          <hr />
          <aside>
            {% include "partials/global/third-party-comments.njk" %}
          </aside>
        {% endif %}
        {% if tags %}
          <hr />
          <footer>
            <h2 class="u-zeta">Filed under</h2>
            <ul>
              {% for item in tags %}
                <li>
                  <a href="/tags/{{ item }}">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </footer>
        {% endif %}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
