{% extends 'layouts/base.njk' %}

{# Syntax highlighting #}
{% block head %}
  <style>{% include "assets/css/highlight.css" %}</style>
{% endblock %}

{# Intro content #}
{% set introHeading = title %}
{% set introElement = "header" %}
{% set introPrefix %}
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" itemprop="datePublished">{{ date | dateFilter }}</time>
  {% endif %}
{% endset %}
{% set introSummary %}
  <span>Takes about {{ helpers.getReadingTime(content) }} minutes to read</span>
  {% if tags %}
    <p class="u-visually-hidden">Filed under</p>
    <ul class="o-layout  o-layout--gap-small">
      {% for item in tags %}
        <li class="o-layout__cell  o-layout__cell--fit">
          <a href="/tags/{{ item }}">#{{ item }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ o-grid ]" itemscope itemtype="http://schema.org/BlogPosting">
      {% include "partials/components/intro.njk" %}

      <section class="[ o-content ]  [ o-layer ]  [ o-grid  o-grid--inner ]  [ u-module ]  [ u-margin-block-end-base ]">
        {{ content | safe }}
        {% if site.enableThirdPartyComments %}
          <hr />
          <aside>
            {% include "partials/global/third-party-comments.njk" %}
          </aside>
        {% endif %}
      </section>
    </article>
  </main>
{% endblock %}
