{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="o-grid">
      {% include "partials/components/intro.njk" %}
      <section class="o-layer  |  o-grid  o-grid--inner  |  o-flow">
        {% include "partials/components/work-list.njk" %}
      </section>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
