@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $TYPOGRAPHY
\*----------------------------------------------------------------------------*/

/*  Mixins
\*----------------------------------------------------------------------------*/

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    & {
        @each $property in $properties {
            @include rem(#{$property}, $min-value);
        }

        @media screen and (min-width: $min-vw) {
            @each $property in $properties {
                #{$property}: calc(#{$min-value} + #{strip-units($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-units($max-vw - $min-vw)});
            }
        }

        @media screen and (min-width: $max-vw) {
            @each $property in $properties {
                @include rem(#{$property}, $max-value);
            }
        }
    }
}



/*  Toplevel
\*----------------------------------------------------------------------------*/

html {
    font-family: $face-base;
    color: $gray-a;
    @include fluid-type(font-size, 20em, 80em, 1em, 1.5em);
}



/*  Sizes
\*----------------------------------------------------------------------------*/

.normalis {
    font-size: 1em;
}
.alpha {
    font-size: 2.5em;
}
.beta {
    font-size: 2em;
}
.gamma {
    font-size: 1.75em;
}
.delta {
    font-size: 1.25em;
}
.epsilon {
    font-size: 1em;
}
.zeta {
    font-size: 1em;
}
.milli {
    font-size: 0.75em;
}



/*  Headings
\*----------------------------------------------------------------------------*/

h1 {
    @extend .alpha;
}
h2 {
    @extend .beta;
}
h3 {
    @extend .gamma;
}
h4 {
    @extend .delta;
}
h5 {
    @extend .epsilon;
}
h6 {
    @extend .zeta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include rem(margin-bottom, $blocss-space-small);
    font-family: $face-secondary;
    line-height: 1.14;
    text-transform: uppercase;
    color: $brand;
}



/*  Double stranded heading hierachy
\*----------------------------------------------------------------------------*/

.h1 {
    @extend h1;
}
.h2 {
    @extend h2;
}
.h3 {
    @extend h3;
}
.h4 {
    @extend h4;
}
.h5 {
    @extend h5;
}
.h6 {
    @extend h6;
}



/**
 * Heading groups
 */
.hgroup,
hgroup {
    .hN {
        margin-bottom: 0;
    }
}


.face--base {
    font-family: $face-base;
    text-transform: none;
    font-weight: normal;
}

.face--sec {
    font-family: $face-secondary;
    text-transform: uppercase;
}