@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $LINKS
\*----------------------------------------------------------------------------*/

a {
    font-weight: 700;
    text-decoration: none;
    color: $gray-a;
    text-shadow: 1px 1px 0 $white, -1px 1px 0 $white, 2px 0 0 $white, -2px 0 0 $white;
    box-shadow: inset 0 -1px 0 0 $white, inset 0 valueToRem(-2px) 0 0 $brand;

    &:hover,
    &:focus,
    &:active {
        color: $brand;
    }

    .c-header &,
    .t-zebra:nth-child(even) & {
        text-shadow: 1px 1px 0 $gray-c, -1px 1px 0 $gray-c, 2px 0 0 $gray-c, -2px 0 0 $gray-c;
    }
}



.link-heading {
    color: $gray-a;
    text-shadow: none;
    box-shadow: none;
}

.link-humble {
    font-weight: normal;
    box-shadow: inset 0 -1px 0 0 $white, inset 0 1px 0 0 $brand;
}