@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $OBJECTS.wrap
    Wraps the entire page
\*----------------------------------------------------------------------------*/

/*  Variables
    Variables used in this module
\*----------------------------------------------------------------------------*/



/*  Functions/Mixins
    Functions and/or mixins used in this module
\*----------------------------------------------------------------------------*/



/*  Module
    Core module
\*----------------------------------------------------------------------------*/

.o-wrap {
    display: flex;
    flex-flow: row wrap;
}

.o-wrap__nav,
.o-wrap__main {
    min-width: 0;
}

.o-wrap__nav {
    @include rem(flex-basis, 0);
}

/**
 * 1. Be explicit to work around IE10 bug with shorthand flex
 * 2. IE10 ignores previous `flex-basis` value. Setting again here fixes
 */
.o-wrap__main {
    flex: 1 1 0%; /* [1] */
    flex-basis: 0%; /* [2] */
}