@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in your framework that you do not wish
    to keep, simply redefine here. This means that if the framework, for example,
    sets your `$base-font-size` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $OVERRIDES
    Place any variables that should override defaults here.
\*----------------------------------------------------------------------------*/

$blocss-base-font-size: 16px;
$blocss-base-line-height: 24px;



/*  Responsive
\*----------------------------------------------------------------------------*/

$blocss-responsive-modifier: unquote("\\@"); /* [1] */

$blocss-breakpoints: (
    'landscape': '(orientation: landscape)',
    'lap': '(min-width: 480px)',
    'desk': '(min-width: 960px)'
);



/*  Layout
\*----------------------------------------------------------------------------*/

$blocss-layout-namespace: 'o-';

$blocss-dimensions-breakpoint-has-fit: ('lap');
$blocss-dimensions-breakpoint-has-fill: ('lap');



/*----------------------------------------------------------------------------*\
    $CUSTOM
    Place any of your own variables that sit on top of the framework here.
\*----------------------------------------------------------------------------*/

/*  Typography
\*----------------------------------------------------------------------------*/

$family-body: 'Arvo', serif !default;
$family-leader: 'Oswald', sans-serif !default;



/*  Colors
\*----------------------------------------------------------------------------*/

/**
 * Brand
 */
$brand: #fc6471 !default;

/**
 * Grayscale
 */
$black: #000000 !default;
$gray-a: #3e4147 !default;
$gray-b: #d3d3d3 !default;
$gray-c: #f4f4f4 !default;
$white: #ffffff !default;



/*  Transitions
\*----------------------------------------------------------------------------*/

$ease-swift: cubic-bezier(.55,0,.1,1) !default;