@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $THEME.ZEBRA
    Stacks layers on top of eachother
\*----------------------------------------------------------------------------*/

.t-zebra {
    background-color: $white;

    &:nth-child(even) {
        background-color: $gray-c;

        a {
            text-shadow: 1px 1px 0 $gray-c, -1px 1px 0 $gray-c, 2px 0 0 $gray-c, -2px 0 0 $gray-c;
        }
    }
}