@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $TYPOGRAPHY
\*----------------------------------------------------------------------------*/


/**
 * Heading groups
 */
.u-hgroup {
    .u-hN {
        margin-bottom: 0;
    }
}

.u-heading-linked {
    line-height: $blocss-line-height-ratio;
}



/*  Font families
\*----------------------------------------------------------------------------*/

.u-family-body {
    font-family: $family-body;
    text-transform: none;
    font-weight: normal;
}

.u-family-leader {
    font-family: $family-leader;
    text-transform: uppercase;
}