@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $COLORS
\*----------------------------------------------------------------------------*/

.u-color--brand {
    color: $brand;
}
.u-color--gray-a {
    color: $gray-a;
}
.u-color--gray-b {
    color: $gray-b;
}
.u-color--gray-c {
    color: $gray-c;
}



/*  Backgrounds
\*----------------------------------------------------------------------------*/

.u-background--brand {
    background-color: $brand;
}
.u-background--gray-a {
    background-color: $gray-a;
}
.u-background--gray-b {
    background-color: $gray-b;
}
.u-background--gray-c {
    background-color: $gray-c;
}