<!doctype html>
<!--[if lt IE 9]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Prefetch external DNS -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    <title>Bram Smulders: UX-developer, Front-end architect, writer and I create awesome stuff for the web</title>
    <meta name="description" content="I am a UX-developer, front-end architect & writer from Tilburg, The Netherlands.">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,300,700">
    <!-- build:css({.tmp,src}) css/theme.css -->
    <link rel="stylesheet" href="css/theme.css">
    <!-- endbuild -->
    <!-- build:js js/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body>
    <div class="wrapper">
        <!--[if lt IE 10]>
            <div class="notice--warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</div>
        <![endif]-->

        <section id="hero" class="masthead  text--center  js--page-section">
            <div class="hero">
                <ul
                    class="hero__panes  js--cycle"
                    id="js--cycle-hero"
                    data-slides=">li"
                    data-cycle-pager=".spotlight__pager"
                    data-cycle-fx="fade"
                    data-auto-height="0"
                    data-speed="1000"
                    data-timeout="8000"
                >
                    <li class="hero__pane  color--white">
                        <div class="background  background--rain"></div>
                        <div class="hero__center  is-animated">
                            <h1 class="giga">Hi, my name is Bram Smulders</h1>
                            <p class="caps">I'm a UX-developer, Front-end architect, writer and I create awesome stuff for the web.</p>
                            <a href="#about" class="button  button--white  js-scroll  button--full--palm-port">About</a>
                            <a href="#work" class="button  button--large  button--brand  js-scroll  button--full--palm-port">I am available</a>
                            <a href="#portfolio" class="button  button--white  js-scroll  button--full--palm-port" data-speed="2000">Portfolio</a>
                        </div><!-- .hero__center -->
                    </li><!-- .hero__pane -->
                </ul><!-- .hero__panes -->
            </div><!-- .hero -->
        </section><!-- .masthead -->

        <section id="about" class="layer  layer--large  layer--lightest  text--center  js--page-section">
            <header class="header  sign">
                <h1 class="header__head  kilo">About me</h1>
                <h2 class="header__sub-head  beta  color--light  flatten">UX and front-end architecture enthousiast</h2>
            </header>
            <hr class="rule  rule--tiny">
            <div class="site--retain">
                <div class="grid  grid--wide  grid--rev">
                    <div class="grid__cell unit-8-12  unit-1-1--palm">
                        <p>Howdy, my name is Bram Smulders and I am a UX-developer, front-end architect & writer from Tilburg, The Netherlands. With the greatest pleasure I put tons of my time and energy into my work. Currently I am <a href="#work" class="js-scroll">available</a> for work on interesting projects or agency work.</p>
                        </p>I specialise in coding scalable CSS and Javascript for large apps and websites, with a strong focus on performance, OOCSS and powerful and speedy development. As a member of the <a href="http://www.fronteers.nl" rel="external">Fronteers labor union</a> I am always on top of the rapid changes within the internet world.</p>
                        <p>Want to know more? You are lucky; I share a lot of my thoughts & my daily lunch on <a href="http://twitter.com/bramsmulders" rel="external">twitter</a>.</p>
                    </div>
                    <div class="grid__cell unit-4-12  unit-1-1--palm">
                        <p class="sign">
                            <a href="mailto:bram@bramsmulders.com" class="button  button--brand  button--large  button--full">Get in touch!</a>
                        </p>
                        <div class="nav--social  nav--social--dark  text--center  sign--triple">
                            <ul class="nav">
                                <li><a href="http://twitter.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Follow me on twitter"></a></li>
                                <li><a href="http://www.facebook.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Follow me on Facebook"></a></li>
                                <li><a href="http://www.github.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Watch me on GitHub"></a></li>
                                <li><a href="http://nl.linkedin.com/in/smuldersbram" class="icon  icon--large" rel="external" data-icon="" title="Connect with linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- .site-retain -->
        </section><!-- layer -->

        <section id="work" class="layer  layer--large  layer--brand  color--white  text--center  js--page-section">
            <header class="header  sign">
                <h1 class="header__head  kilo">I am available!</h1>
                <h2 class="header__sub-head  beta  color--white  flatten">I work best with enthusiastic teams on great projects</h2>
            </header>
            <hr class="rule  rule--tiny  rule--white">
            <div class="site--retain">
                <div class="grid  grid--wide">
                    <div class="grid__cell  unit-6-12  unit-1-1--palm">
                        <h3 class="flatten">Agency</h3>
                        <p>If you have a job opening in wich you search for a spontaneous, responsible, work driven UX-developer and front-end architect, I am your man! I work best in enthusiastic, agile teams on great projects.</p>
                    </div><!-- .grid__cell -->
                    <div class="grid__cell  unit-6-12  unit-1-1--palm">
                        <h3 class="flatten">Freelance</h3>
                        <p>Do you have a stunning project but you need a extra hand? I am your man! I can work on location and collaborate on your workfloor. <br>When needed I can also work from my home office.</p>
                    </div><!-- .grid__cell -->
                </div><!-- .grid -->
                <a href="mailto:bram@bramsmulders.com" class="button  button--white  button--large">Get in touch!</a>
            </div><!-- .site-retain -->
        </section><!-- layer -->

        <section id="portfolio" class="layer  layer--large  text--center  js--page-section">
            <header class="header  sign">
                <h1 class="header__head  kilo">Portfolio</h1>
                <h2 class="header__sub-head  beta  color--light  flatten">I’ve made websites, frameworks , guidelines</h2>
            </header>
            <hr class="rule  rule--tiny">
            <div class="site--retain">
                <div class="grid  grid--center">

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">Blocss</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">CSS framework</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/blocss.png" alt="" class="jetpack__platform">
                            <a href="https://github.com/Blocss/blocss" class="jetpack__link" rel="external" title="Blocss Front-end framework">Blocss Front-end framework</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">Scoor je stage</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: freshheads</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/scoorjestage.png" alt="" class="jetpack__platform">
                            <a href="http://www.knvbtalentteam.nl" class="jetpack__link" rel="external" title="Scoor je stage">Scoor je stage</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    {{!-- <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">GFK mijn florijn</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: freshheads</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/gfk.png" alt="" class="jetpack__platform">
                            <a href="#" class="jetpack__link" rel="external" title="GFK mijn florijn">GFK mijn florijn</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell --> --}}

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">klantOK</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: freshheads</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/klantok.png" alt="" class="jetpack__platform">
                            <a href="http://klantok.nl" class="jetpack__link" rel="external" title="klantOK">Emerce eDay</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">Emerce eDay</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: freshheads</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/eday.png" alt="" class="jetpack__platform">
                            <a href="http://www.emerceeday.nl" class="jetpack__link" rel="external" title="Emerce eDay">Emerce eDay</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">Andere Koek advertising</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: qforma</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/anderekoek.png" alt="" class="jetpack__platform">
                            <a href="http://www.anderekoekadvertising.nl" class="jetpack__link" rel="external" title="Andere koek advertising">Andere koek advertising</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">Zinnen op Linnen</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: qforma</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/zinnenoplinnen.png" alt="" class="jetpack__platform">
                            <a href="http://www.zinnenoptafellinnen.nl/" class="jetpack__link" rel="external" title="Zinnen op Linnen">Zinnen op Linnen</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">Wonen in het land van</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: qforma</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/woneninhetlandvan.png" alt="" class="jetpack__platform">
                            <a href="http://woneninhetlandvan.nl/" class="jetpack__link" rel="external" title="Wonen in het land van">Wonen in het land van</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">LLAUD</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: qforma</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/llaud.png" alt="" class="jetpack__platform">
                            <a href="http://llaud.nl/" class="jetpack__link" rel="external" title="LLAUD">LLAUD</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">MIKZ</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: qforma</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/mikz.png" alt="" class="jetpack__platform">
                            <a href="http://mikz.nl/" class="jetpack__link" rel="external" title="MIKZ">MIKZ</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">FOI</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: qforma</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/foi.png" alt="" class="jetpack__platform">
                            <a href="http://foi.nl/" class="jetpack__link" rel="external" title="FOI">FOI</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">About Shoes</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Agency: qforma</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/aboutshoes.png" alt="" class="jetpack__platform">
                            <a href="http://aboutshoes.nl/" class="jetpack__link" rel="external" title="About Shoes">About Shoes</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                    <div class="grid__cell  unit-4-12  unit-6-12--lt-desk">
                        <article class="jetpack  js--slide-in">
                            <div class="jetpack__overlay">
                                <div class="jetpack__center">
                                    <div class="hgroup">
                                        <h1 class="jetpack__title  gamma  hN">NoRobot</h1>
                                        <h2 class="jetpack__subtitle  milli  hN">Fashion webshop</h2>
                                    </div>
                                </div><!-- .jetpack__center -->
                            </div><!-- .jetpack__overlay -->
                            <img src="images/theme/cases/norobot.png" alt="" class="jetpack__platform">
                            <a href="http://norobot.nl/" class="jetpack__link" rel="external" title="NoRobot">NoRobot</a>
                        </article><!-- .jetpack -->
                    </div><!-- .grid__cell -->

                </div><!-- .grid -->
                <a href="mailto:bram@bramsmulders.com" class="button  button--brand  button--large">Get in touch!</a>
            </div><!-- .site-retain -->
        </section><!-- layer -->

        <footer class="footer  layer  layer--large  text--center  color--white">
            <div class="site--retain">
                <div class="background  background--absolute  background--rain"></div>
                <div class="background__overlay">
                    <h1>Get in touch</h1>
                    <div class="nav--social  text--center  sign--triple">
                        <ul class="nav">
                            <li><a href="http://twitter.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Follow me on twitter"></a></li>
                            <li><a href="http://www.facebook.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Follow me on Facebook"></a></li>
                            <li><a href="http://www.github.com/bramsmulders" class="icon  icon--large" rel="external" data-icon="" title="Watch me on GitHub"></a></li>
                            <li><a href="http://nl.linkedin.com/in/smuldersbram" class="icon  icon--large" rel="external" data-icon="" title="Connect with linkedin"></a></li>
                        </ul>
                    </div>
                    <p class="milli">
                        © 2013 <a href="http://twitter.com/bramsmulders" rel="external">Bram Smulders</a>. Made with <a href="http://blocss.github.io/blocss" rel="external">Blocss CSS Framework</a> & <a href="http://yeoman.io" rel="external">Yeoman</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div><!-- .wrapper -->
    <!-- build:js js/vendor/main.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <script src="bower_components/jRespond/js/jRespond.js"></script>
    <script src="bower_components/jquery-cycle2/jquery.cycle2.core.js"></script>
    <script src="bower_components/jquery-cycle2/jquery.cycle2.autoheight.js"></script>
    <script src="bower_components/jquery-cycle2/jquery.cycle2.pager.js"></script>
    <script src="bower_components/jquery-cycle2/jquery.cycle2.prevnext.js"></script>
    <script src="bower_components/jquery-cycle2/jquery.cycle2.scrollVert.js"></script>
    <script src="bower_components/jquery-cycle2/jquery.cycle2.swipe.js"></script>
    <script src="bower_components/jquery-cycle2/jquery.cycle2.carousel.js"></script>
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>
</html>
