---
layout: default
---

<section class="c-masthead">
  <div class="c-masthead__center  o-grid  u-module">
    <h1>UX and Frontend architecture enthousiast.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, quas. Quod ad, ut fuga laborum debitis adipisci minus est. Tempore consectetur, nemo a quae dolores ducimus odit numquam accusamus ut?</p>
  </div>
</section>

<section class="o-grid">
  <h2 class="u-h1">Howdy,</h2>
  {{ content }}
</section>

<section id="section:articles">
  <h2>Articles</h2>
  {% include posts.html %}
</section>
