---
layout: default
---

<section class="c-masthead">
  <div class="c-masthead__center  o-grid  u-module">
    <h1>UX and Frontend architecture enthousiast.</h1>

  </div>
  <div class="c-masthead__image">
    <img src="/assets/images/header/foto-large.jpg" alt="">
  </div>
</section>

<section class="o-layer  t-background--baby-powder  o-grid">
  <h2 class="u-h1">Howdy,</h2>
  {{ content }}
</section>

<section class="o-layer  t-background--prussian-blue  o-grid">
  <h2 class="u-h1">Trusted by</h2>
  <p>Whooptiedoo</p>
</section>

<section class="o-layer  t-background--baby-powder  o-grid" id="section:articles">
  <h2>Articles</h2>
  {% include posts.html %}
</section>
