/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in blocss’ `_defaults.scss` that you do not wish
    to keep, simply redefine here. This means that if blocss, for example,
    sets your `$bfs` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file. Blocss ignores its own variables
    in favour of using your own, so you can completely modify how blocss
    works without ever having to alter the framework itself.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULES.................Enable/disable modules
    OVERRIDES...............Variables that should override defaults
    CUSTOM..................Your own variables
    */





/*----------------------------------------------------------------------------*\
    $MODULES
    All of blocss’ objects and abstractions are initially turned off by
    default. This means that you start any project with as little as possible,
    and introducing objects and abstractions is as simple as switching the
    following variables to `true`.
\*----------------------------------------------------------------------------*/

    /**
     * Base
     */
    $use-base-quotes:                  false;
    $use-base-code:                    false;
    $use-base-tables:                  false;
    $use-base-forms:                   false;


    /**
     * Modules
     */
    $use-modules-grid:                 true;
    $use-modules-arrange:              false;
    $use-modules-nav:                  true;
        $use-modules-breadcrumb:       false;
        $use-modules-pagination:       false;
    $use-modules-media:                false;
    $use-modules-flexembed:            false;
    $use-modules-island:               false;
    $use-modules-sprite:               true;
    $use-modules-buttons:              true;
    $use-modules-rules:                true;
    $use-modules-greybox:              false;
    $use-modules-notice:               true;


    /**
     * Generic
     */
    $use-generic-widths:               true;
    $use-generic-push:                 false;





/*----------------------------------------------------------------------------*\
    $OVERRIDES
    Place any variables that should override blocss’ defaults here.
\*----------------------------------------------------------------------------*/

    /* Typography
    \*------------------------------------------------------------------------*/

        /**
         * Font
         */
        $base-font-family:                  "Raleway", Helvetica, Arial, sans-serif;


        /**
         * Type
         */
        $base-font-size:                    16px;
        $base-line-height:                  24px;


        /**
         * Headings (in pixels)
         */
        $giga-size:                         96px; // .giga
        $mega-size:                         72px; // .mega
        $kilo-size:                         48px; // .kilo

        $h1-size:                           24px; // .alpha
        $h2-size:                           20px; // .beta
        $h3-size:                           18px; // .gamma
        $h4-size:                           $base-font-size; // .delta
        $h5-size:                           $h4-size; // .epsilon
        $h6-size:                           $h4-size; // .zeta

        $milli-size:                        14px; // .milli
        $micro-size:                        12px; // .micro



    /* Brand
    \*------------------------------------------------------------------------*/

        $base-color:                        #5c5c5c; // Dark grey
        $brand:                             #f85c37; // Bright orange



    /* Responsive
    \*------------------------------------------------------------------------*/

        $breakpoints: (
            'palm-port' '(max-width: 479px)',
            'palm' '(max-width: 600px)',
            'gt-palm' '(min-width: 601px)',
            'lap' '(min-width: 601px) and (max-width: 767px)',
            'lt-desk' '(max-width: 767px)',
            'desk' '(min-width: 768px)',
            'gt-desk' '(min-width: 1200px)'
        )!default;



    /* Misc
    \*------------------------------------------------------------------------*/

        /**
         * Legacy support
         */
        $legacy-support-for-ie8:            false;





/*----------------------------------------------------------------------------*\
    $CUSTOM
    Place any of your own variables that sit on top of blocss here.
\*----------------------------------------------------------------------------*/

    /* Site
    \*------------------------------------------------------------------------*/

        $site-retain:                       980px!default;



    /* Colors
    \*------------------------------------------------------------------------*/

        $color-white:                       #ffffff!default;
        $color-dark:                        #1a1a1a!default;
        $color-medium:                      #333333!default;
        $color-light:                       #c0c0c0!default;
        $color-lightest:                    #f7f7f7!default;



    /* Transitions
    \*------------------------------------------------------------------------*/

        $transition-duration-short:         .2s!default;
        $transition-duration-medium:        .4s!default;
        $transition-duration-long:          .6s!default;