/*  =========================================================================
    utilities.colors
    ========================================================================= */

.u-color--brand {
  color: var(--brand);
}

.u-color--gray-a {
  color: var(--gray-a);
}

.u-color--gray-b {
  color: var(--gray-b);
}

.u-color--gray-c {
  color: var(--gray-c);
}

.u-color--gray-d {
  color: var(--gray-d);
}

.u-color--gray-e {
  color: var(--gray-e);
}



/*  Backgrounds
    ========================================================================= */

.u-background--brand {
  background-color: var(--brand);
}

.u-background--gray-a {
  background-color: var(--gray-a);
}

.u-background--gray-b {
  background-color: var(--gray-b);
}

.u-background--gray-c {
  background-color: var(--gray-c);
}

.u-background--gray-d {
  background-color: var(--gray-d);
}

.u-background--gray-e {
  background-color: var(--gray-e);
}
