/*  =========================================================================
    utilities.typography
    ========================================================================= */

/**
 * Heading groups
 */
.u-hgroup .u-hN {
  margin-bottom: 0;
}

.u-heading-linked {
  line-height: var(--supple-base-line-height-ratio);
}



/*  Font families
    ========================================================================= */

.u-family-body {
  font-family: var(--family-body);
  text-transform: none;
  font-weight: normal;
}

.u-family-leader {
  font-family: var(--family-leader);
  text-transform: uppercase;
}



/*  Font sizes
    ========================================================================= */

.u-h1,
.u-alpha {
  font-size: var(--alpha);
}

.u-h2,
.u-beta {
  font-size: var(--beta);
}

.u-h3,
.u-gamma {
  font-size: var(--gamma);
}

.u-h4,
.u-delta {
  font-size: var(--delta);
}

.u-h5,
.u-epsilon {
  font-size: var(--epsilon);
}

.u-h6,
.u-zeta {
  font-size: var(--zeta);
}

.u-milli {
  font-size: var(--milli);
}
