/*  =========================================================================
    components.party
    ========================================================================= */

/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

.c-party {
  margin-bottom: var(--supple-space);
  font-size: 75%;
}

.c-party__group {
  white-space: nowrap;
}
