<footer class="o-layer  t-zebra" role="contentinfo">
    <div class="o-retain  o-retain--readable  module">
        <h2 class="u-h4">Get in touch</h2>
        <p>Want to know more? You are lucky; I share a lot of my thoughts & my daily lunch on <a href="http://twitter.com/bramsmulders" rel="external">twitter</a> and I share my code on <a href="http://github.com/bramsmulders" rel="external">Github</a>. Alternatively you can connect with me on <a href="http://nl.linkedin.com/in/smuldersbram" rel="external">Linkedin</a>.</p>
        <p><small class="u-color--gray-b">Copyright Bram Smulders {{ 'now' | date: "%Y" }}</small></p>
    </div>
</footer>