<footer class="o-layer  o-layer--target  t-background--eucalyptus  o-grid" role="contentinfo" id="contact">
  <h2>Get in touch</h2>
  <p>Want to know more? You are lucky; I share a lot of my thoughts & my daily lunch on <a href="http://twitter.com/bramsmulders" rel="external">twitter</a> and I share my code on <a href="http://github.com/bramsmulders" rel="external">Github</a>. Alternatively you can connect with me on <a href="http://nl.linkedin.com/in/smuldersbram" rel="external">Linkedin</a> or drop me an <a href="mailto:hello@bramsmulders.com">E-mail</a>.</p>
  <p><small>© <strong>Bram Smulders {% if site.hasCompany %}BV.{% endif %}</strong> {{ 'now' | date: "%Y" }}{% if site.hasCompany %} | KvK: 12345678 BTW: 123456789A01 IBAN: NL56ABNA0466552092{% endif %}</small></p>
</footer>
