<footer class="o-layer  t-background--prussian-blue  o-grid" role="contentinfo">
  <h2>Get in touch</h2>
  <p>Want to know more? You are lucky; I share a lot of my thoughts & my daily lunch on <a href="http://twitter.com/bramsmulders" rel="external">twitter</a> and I share my code on <a href="http://github.com/bramsmulders" rel="external">Github</a>. Alternatively you can connect with me on <a href="http://nl.linkedin.com/in/smuldersbram" rel="external">Linkedin</a>.</p>
  <p><small>Copyright Bram Smulders {{ 'now' | date: "%Y" }}</small></p>
</footer>
