<header class="c-header" role="banner">
    <div class="o-retain o-retain--readable module">
        <div class="o-layout  o-layout--gutter  o-layout--align-middle">
            <div class="o-layout__cell  o-layout__cell--fill@lap">
                <span class="u-h2  u-flatten"><a href="{{ "/" | relative_url}}" class="link-heading">Bram Smulders</a></span>
            </div><!-- .o-layout__cell -->
            <div class="o-layout__cell  o-layout__cell--fit@lap">
                {% include navigation.html %}
            </div><!-- .o-layout__cell -->
        </div><!-- .o-layout -->
    </div>
</header>