/*----------------------------------------------------------------------------*\
    $FONT
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .icon-link-ext:before { content: '\e813'; } /* '' */
    .icon-twitter:before { content: '\e812'; } /* '' */
    .icon-down-open:before { content: '\e808'; } /* '' */
    .icon-left-open:before { content: '\e804'; } /* '' */
    .icon-right-open:before { content: '\e805'; } /* '' */
    .icon-up-open:before { content: '\e809'; } /* '' */
    .icon-angle-left:before { content: '\e806'; } /* '' */
    .icon-angle-right:before { content: '\e807'; } /* '' */
    .icon-angle-up:before { content: '\e80a'; } /* '' */
    .icon-angle-down:before { content: '\e80b'; } /* '' */
    .icon-menu:before { content: '\e810'; } /* '' */
    .icon-left:before { content: '\e800'; } /* '' */
    .icon-right:before { content: '\e802'; } /* '' */
    .icon-up:before { content: '\e803'; } /* '' */
    .icon-css3:before { content: '\e814'; } /* '' */
    .icon-facebook:before { content: '\e80c'; } /* '' */
    .icon-github:before { content: '\e80d'; } /* '' */
    .icon-gplus:before { content: '\e80e'; } /* '' */
    .icon-html5:before { content: '\e80f'; } /* '' */
    .icon-linkedin:before { content: '\e811'; } /* '' */
    .icon-down:before { content: '\e801'; } /* '' */
    @include fontface("Icon", "fonts/icon");

    .icon {
        font-family: "Icon";
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/