/*----------------------------------------------------------------------------*\
    $SITE
    Site width properties
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * Retain
     */
    .retain {
        max-width: $retain-legacy + ($space*2);
        @include rem(padding, 0 $space);
        margin-left: auto;
        margin-right: auto;
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    @include media-query(gt-palm) {
        /**
         * Retain
         */
        .retain {
            max-width: $retain + ($space*2);
        }


        /**
         * Modifyers
         */
        .retain--small {
            max-width: $retain-small + ($space*2);
        }

        .retain--large {
            max-width: $retain-large + ($space*2);
        }
    }





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/