/*----------------------------------------------------------------------------*\
    $SITE
    Toplevel site styles
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * Retain
     * Retain within width & center in viewport
     */
    .site--retain {
        max-width: $site-retain + ($space*2);
        margin-left: auto;
        margin-right: auto;
        @include rem(padding-right, $space);
        @include rem(padding-left, $space);
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/