/*  =========================================================================
    elements.blockquote
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use '../../../node_modules/@supple-kit/supple-css/tools/space';
@use '../../../node_modules/@supple-kit/supple-css/settings/defaults';
@use '../settings/vars';



/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

blockquote {
  padding-inline-start: space.get('base');
  border-left: 4px solid var(--color-slate-bg);
  font-style: italic;
}
