/*  =========================================================================
    elements.code
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */



/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

code {
  padding-inline-start: 0.3em;
  padding-inline-end: 0.3em;
  font-size: 0.85em;
  background-color: var(--color-code-bg);
}
