/*  =========================================================================
    theme
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

@use 'settings/vars';
@use 'tools';



/*  Variables
    ========================================================================= */

:root {
  --color-mode: 'light';
  --color-bg: #{vars.$color-magnolia};
  --color-text: #{vars.$color-independence};
  --color-stroke: #{vars.$color-independence};
  --color-action-bg: #{vars.$color-forest-green-crayola};
  --color-action-text: #{vars.$color-magnolia};
  --color-brand-primary: #{vars.$color-fire-opal};
  --color-brand-secondary: #{vars.$color-cyan-process};

  @include tools.dark-mode() {
    --color-bg: #{vars.$color-independence};
    --color-text: #{vars.$color-magnolia};
    --color-stroke: #{vars.$color-magnolia};
    --color-action-bg: #{vars.$color-magnolia};
    --color-action-text: #{vars.$color-forest-green-crayola};
  }
}
